body{
    font-family: arial,sans-serif;
    font-size: 13px;
}

#logo-img {
    display: block;
    width: auto;
    margin: 110px auto auto auto;
}

#about {

    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

#store {

    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

#gmail {

    grid-column: 4 / 5;
    justify-self: start;
    align-self: center;
}

#images {
   
    grid-column: 5 / 6;
    justify-self: start;
    align-self: center;
}

#apps {
 
    grid-column: 6 / 7;
    justify-self: center;
    align-self: center;
}

#signin-button{
    grid-column: 7 / 8;
    background-color: #4285f4;
    border: none;
    border-radius: 4%;
    text-align: center;
    margin: 2px;
    
}

#sign {
    color: white;
    font-weight: bold;
    font-family: arial,sans-serif;
}

.container-header-top {
    display: grid;
    grid-template-rows: 2.5em;
    grid-template-columns: 55px 55px auto 55px 60px 55px 73px 25px;
    margin-top: 16px;
    margin-inline: -5px;
    width: 100%;
    top: 0;
    position: fixed;

}

.cleartext {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

#searchbar{
    width: 582px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

div.googlesearch{
    display: block;
    text-align: center;
}

.googlesearch {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;

}

div.buttons {
    display: block;
    text-align: center;
    margin-top: 30px;
}

#button1, #button2{
    background-color: #f4f1f1;
    border: 0px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    
}

#search1, #search2 {
    font-size: 14px;
    color: #5e5252;
    display: block;
}

#search1:hover, #search2:hover{
    color: black;
}

#button1:hover, #button2:hover{
    border: 1px solid #a6a4a4;
}

ul {
    list-style-type: none;
}

.flex-container-footer {
    display: flex;
    padding: 11px;
    margin: 0;
    background-color: #ebecec8f;
    border: 1px solid #bfc5c882;
    bottom: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    flex-direction: row;
    justify-content: space-around;
}

#blank{
    flex: 1.5 0;
}

li {
    display: inline;
}

.imgbarbuttons{
    width: 60%;
    margin: 160px auto auto auto;
}

.footerlinks{
    font-size: 14px;
    color: #5e5252;
    margin: 10px;
}


#about:hover, #store:hover, #gmail:hover, #images:hover, #apps:hover, #sign:hover, #ad:hover, #bus:hover, #how:hover, #priv:hover, #terms:hover, #set:hover{
    text-decoration: underline;
}